body {
	background-color: rgb(34, 78, 107); 

}

img.resize {
	max-width: 40%;
	max-height: 40%;
}
h1 {
    font-family: 'Josefin Sans', sans-serif;
	font-size: 40px;
	color: white;
}
 th, td {
   font-family: 'Lato', sans-serif;
   font-size: 15px;
   color: white;
   padding: 4px;
   border-bottom: 1px solid #ddd;
}

.headerrow{
	background-color: rgb(41, 207, 182);

}
.one {
	background-color: #255474;
}
.two {
	background-color: #31719b;
}
.three {
	background-color: #3d8dc2;
}
.four {
	background-color: #64a4ce;
}
.source_link{
	color: white;
	font-size: 12px;
	font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
}
